body{
    background-image: url(/img/myimg.jpg);
    background-repeat: no-repeat;
    
    background-size: cover;
}


.s{
    margin: 15%;
}

.todo-items{
    background-color: white !important;
    margin-bottom: 5px;
 
}

.btn{
    color: black;
    background-color: white;
    border: 0ch;
    border-color: white;
}
.btn:hover{
    color: rgb(81, 122, 40);
    background-color: white;
    border: 0ch;
    border-color: white;
}

.btn:active{
    color: black !important;
    background-color: white !important;
    border: 0ch !important;
    border-color: white !important;
}







.input-group{
  margin-left: 0px !important;
 
}


.todo-title{
    font-size: 50px;
    display: flex;
    align-items: center;
}


.icon, .check{
    font-size: 50px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    background-color: rgb(41, 132, 132);
}
.icon2, .remove{
    font-size: 50px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    background-color: rgb(119, 100, 100);
}



.check:hover, .icon:hover {
        color:rgb(41, 132, 132) ;
        background-color: white;
}

.remove:hover, .icon2:hover{
    color: rgb(119, 100, 100);
    background-color: white;
}


.complete-todo{
    text-decoration: line-through;
}
.remove-todo{
    display: none !important;
}











    